body{
font-size: 12px;
}
header .carousel-inner .item{
    height: 100vh;
}
.navbar-intense{
    background-color: transparent;
}

.banner{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}

.slide-one{
    background-image: url("/img/heromobile.jpg");
}

.slide-two{
    background-image: url("/img/swordsmobile.jpg");
}

.slide-three{
    background-image: url("/img/giantmobile.jpg")
}

.pro-icon{
    background-image: url("/img/proicon.png");
    width: 10%;
    background-repeat: no-repeat;
}

.bgcolor-item{
background-color: #232323;
}

article{
    width: 60%;
    color: #ffffff;
}

.picture-monster{
    background-color: #FFFF;
    border-radius: 8vh 0 0 8vh;
    width: 40%;
}


.monster{
    max-width: 100%;
    height: auto;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.name{
    font-weight: 700;
    font-size: 1.2rem;
}

.buttons-block{
    widows: 77%
    
}

.info-block{
    width: 50%;
}

.description{
    font-weight: 600;
    font-size: 0.9rem;
}

.main-text
{
    position: absolute;
    top: 12vh;
    width: 96.66666666666666%;
    color: #FFF;
}
.btn-min-block
{
    max-width: 9rem;
    line-height: 2rem;
}
.btn-clear
{
    color: #FFF;
    background-color: transparent;
    border-color: #FFF;
    margin-right: 15px;
}
.btn-clear:hover
{
    color: #000;
    background-color: #FFF;
}


  /* For devices 800px and larger: */
  @media only screen and (min-device-width: 800px) {
    .slide-one{
        background-image: url("/img/monster.jpg");
    }
    
    .slide-two{
        background-image: url("/img/swords.jpg");
    }
    
    .slide-three{
        background-image: url("/img/giant.jpg")
    }
  }

