body {
    font-size: 12px;
}

header .carousel-inner .item {
    height: 100vh;
}

.navbar-intense {
    background-color: transparent;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 16px;
    color: #FFF;
    font-weight: bold;
}

.navbar-nav .nav-link {
    font-size: 16px;
    color: #FFF;
    font-weight: bold;
}

.navbar-nav:hover .nav-link:hover {
    font-size: 16px;
    color: black;
    font-weight: bold;
}

.banner {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}

.slide-one {
    background-image: url("/public/img/heromobile.jpg");
}

.slide-two {
    background-image: url("/public/img/swordsmobile.jpg");
}

.slide-three {
    background-image: url("/public/img/giantmobile.jpg");
}

.logo {
    content: url("/public/img/logo.png");
}

.bgcolor-item {
    background-color: #232323;
}

article {
    width: 60%;
    color: #ffffff;
}

.picture-monster {
    background-color: #FFFF;
    border-radius: 8vh 0 0 8vh;
    width: 40%;
}

.monster {
    max-width: 100%;
    height: auto;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.name {
    font-weight: 700;
    font-size: 1.2rem;
}

.buttons-block {
    width: 75%;
}

.info-block {
    width: 50%;
}

.description {
    font-weight: 600;
    font-size: 0.9rem;
}

.main-text {
    position: absolute;
    top: 12vh;
    width: 100%;
    color: #FFF;
}

.btn-min-block {
    max-width: 9rem;
    line-height: 2rem;
}

.btn:focus, .btn::-moz-focus-inner {
    outline: none;
    border: none;
}

.btn:active {
    position: relative;
    top: 5px;
    box-shadow: none;
}

.bold {
    font-weight: 600;
}

.btn-clear {
    color: #FFF;
    background-color: transparent;
    border-color: #C3BEBA;
    border-radius: 1, 5em / 5em;
    margin-right: 15px;
    font-weight: 600;
    box-shadow: 0 2px 0 #C3BEBA;
}

.btn-clear:hover {
    color: #000;
    background-color: #FFF;
}

.btn-margin {
    margin: 1rem;
}

.btn-premium {
    color: #FFF;
    background-color: #366181;
    border-color: #C3BEBA;
    border-radius: 1, 5em / 5em;
    width: 100%;
    font-weight: 600;
    box-shadow: 0 2px 0 #C3BEBA;
    position: relative;
}

.btn-premium::after {
    left: 20%;
    content: "";
    position: absolute;
    top: 20%;
    width: 50%;
    height: 200%;
    background: url('/public/img/star.png') no-repeat;
    background-size: 9%;
}

.btn-premium:hover {
    color: #F8F119;
    background-color: #366181;
}

.details-box {
    border: gray 0.5px solid;
    border-radius: 5px;
}

a:hover {
    cursor: pointer;
    color: red;
}

/* For devices 800px and larger: */

@media only screen and (min-device-width: 800px) {
    .slide-one {
        background-image: url("/public/img/monster.jpg");
    }
    .slide-two {
        background-image: url("/public/img/swords.jpg");
    }
    .slide-three {
        background-image: url("/public/img/giant.jpg");
    }
}

@media only screen and (max-device-width: 423px) {
    .btn-margin {
        margin: 0 0.8rem 1rem 0;
    }
}